@charset"UTF-8" ;

*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root{
    --cor0:#A60321;
    --cor1:#590219;
    --cor2:#A66F8D;
    --cor3:#8FB6BF;
    --cor4:#E9F0F2;

}
html , body{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: var(--cor4);
    width: 250px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .5s,height .5s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
}
#imagem{
    display: block;
    background: var(--cor1) url(../imagens/pexels-dylan-leagh-86004871-8954100.webp) no-repeat bottom left;
    height: 200px;
    background-size: cover;
}
#formulario{
    padding: 10px;
}
#formulario>h1{
    text-align: center;
    margin: 10px;
}
#formulario>p{
    font-size: 0.8em;
    margin-bottom: 16px;
}
.campo{
    background-color: var(--cor1);
    height: 40px;
    border-radius: 5px;
    margin: 10px auto;
    width: 90%;
    
}
.campo>span{
    color: var(--cor4);
    padding: 5px;
    font-size: 2em;
    width: 40px;
}
.campo>input{
    font-size: 1em;
    height: 80%;
    border-radius: 8px;
    padding: 4px;
    
    width: calc(100% - 49.6px);
    border: 0px;
    background-color: #ffffff;
    color: black;
    transform: translateY(-9px);
}
#ilogin{
    transform: translateY(-10px);
}
label{
    display: none;
}
input[type=submit]{
    display: block;
    margin: auto;
    margin-bottom: 5px;
    font-size: 1em;
    width: 90%;
    height: 40px;
    background-color: var(--cor0);
    color: var(--cor4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #5a0212;
}
.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 90%;
    height: 40px;
    background-color: var(--cor4);
    color: var(--cor0);
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    padding-top: 5px;
    text-decoration: none;
}
.botao:hover{
    background-color: #acb1b3e3;
}
.botao>span{
    font-size: 0.8em;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top , var(--cor3) , var(--cor1));
    }
    #login{
        width: 80vw;
        height: 450px;
        
    }
    #login p{
        margin-bottom: 20px ;
        font-size: 1em;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
        
    }
    #formulario{
        float: right;
        width: 70%;
    }
    .campo{
        margin-bottom: 60px;
    }
    #campo1::after{
        display: block;
        content: "Adicione por favor o seu endereço email. \A exemplo: *****@gmail.com";
        white-space: pre-wrap;
        text-align: center;
    }
    #campo2::after{
        display: block;
        content: "Entrei aqui com a senha do seu endereço email com 8 ou mais carater";
        text-align: center;

    }
    .campo>span{
    color: var(--cor4);
    font-size: 2em;
    width: 40px;
    padding: 5px;
    }
    
}
@media screen and (min-width: 993px) {
    body{
        background-image: linear-gradient(to top , var(--cor3) , var(--cor1));
    }
    #login{
        width: 950px;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        width: 50%;
    }
    #formulario>h1{
        font-size: 2em;
    }
    #formulario>p{
    font-size: 1.2em;
    }
    .campo{
        margin-bottom: 60px;
    }
    #campo1::after{
        display: block;
        content: "Adicione por favor o seu endereço email. \A *****@gmail.com";
        white-space: pre-wrap;
        text-align: center;
    }
    #campo2::after{
        display: block;
        content: "Entrei aqui com a senha do seu endereço email com 8 ou mais carater";
        text-align: center;

    }
    input[type=submit]{
        margin-bottom: 40px;
    }
    .campo>span{
    color: var(--cor4);
    font-size: 2em;
    width: 40px;
    padding: 5px;
    }
}
